<section class="container">
  <h1 class="container">Thank You!</h1>
  <mat-icon class="icon">check_circle</mat-icon>

  <p class="container text">
    Your {{ confirmed_serviceType }} appointment for
    {{ confirmed_date | date }} has been confirmed!
  </p>

  <h3 class="container">Special Request:</h3>
  <p class="text-box">{{ confirmed_specialRequest }}</p>

  <button
    type="button"
    mat-button
    mat-raised-button
    color="primary"
    (click)="appointmentSubmission(resubmit)"
  >
    Make Another Appointment
  </button>
</section>
