<h1>Choose Appointment Date</h1>
<form action="" class="form">
  <mat-form-field >
    <mat-label>Choose a date</mat-label>
    <input matInput [matDatepicker]="picker" [formControl]="selectedDate" />
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Select</mat-label>
    <mat-select>
      <mat-option value="one">First option</mat-option>
      <mat-option value="two">Second option</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Textarea</mat-label>
    <textarea matInput></textarea>
  </mat-form-field>
</form>

<p class="form">You selected: {{ selectedDate.value | date }}</p>
